* {
    box-sizing: border-box;
    font-family: monospace;
}

body {
    margin: 0;
    height: 100vh;
    background: #0f172a;
    color: #e5e7eb;
}

#app {
    display: flex;
    height: 100vh;
}

/* Editor */
#editor-container {
    flex: 2;
    padding: 16px;
    border-right: 1px solid #334155;
}

#editor {
    width: 100%;
    height: 100%;
    background: #020617;
    color: #e5e7eb;
    border: none;
    outline: none;
    resize: none;
    font-size: 16px;
    line-height: 1.5;
}

/* Side Panel */
#side-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 16px;
    background: #020617;
}

#spellcheck-container li {
  font-size: 18px;
  font-weight: bold;
  color: #93c5fd;
}


/* K Slider */
#k-control label {
    display: block;
    margin-bottom: 6px;
}

#k-slider {
    width: 100%;
}

/* Suggestions */
#suggestions-container {
    flex: 1;
    overflow-y: auto;
}

#suggestions {
    list-style: none;
    padding: 0;
    margin: 0;
}

#suggestions li {
    padding: 6px 8px;
    border-radius: 4px;
    cursor: pointer;
}

#suggestions li:hover {
    background: #1e293b;
}

/* Trie Visualiser */

